body {
    box-sizing: border-box;   
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 40px;
}

.frm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weatherInput {
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    width: 20vw;
    height: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    margin: 10px;
}

input {
    color: #ffffff;
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue
}

input:focus {
    color: #ffffff;
    border-color: green
}

#submitButton {
    width: auto;
    height: 2em;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    color: #ffffff;
}

input:focus {
    border: red;
}

#one {
    font-size: 20px;
    color: white;
}

#two {
    font-size: 20px;
    color: white;
}

@media (max-width: 600px) {
    .title {
        font-family: 'Julius Sans One', sans-serif;
        color: white;
        font-size: 40px;
        text-align: center
    }

    #weatherInput {
        font-size: 20px;
        color: #ffffff;
        background: transparent;
        width: 60vw;
        height: 2em;
        margin-bottom: 10px;
        border-bottom: 2px solid black;
        margin: 10px;
    }
}